body,
html {
    height: 100%;
    background-image: url("{{url_for('static',filename='pictures/BackgroundPurple.png')}}");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    ;
}

.headings {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    width: 100%;
}

.headings>a {
    color: aliceblue;
    float: right;
    position: absolute;
    right: 30px;
}

span.img-text {
    color: aliceblue;
    text-transform: capitalize;
    font-size: 100%;
}

span.img-text:hover {
    color: #2caae1;
    cursor: pointer;
}

.item>img {
    border-radius: 10px;
}

.carousel-wrapper {
    font-family: sans-serif;
}

.owl-carousel .owl-nav {
    overflow: hidden;
    margin-top: -30px;
    height: 70px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #5110e9;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.25;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #ffffff;
    font-size: 39px;
    border-radius: 3px;
    background: none;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #5110e9;
}