.navbar{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.801);
}

.navbar-brand{
    color: aqua;
}

body {
    background-image: url("../pictures/BackgroundPurple.jpg");
    background-size: cover;
}

.btn{
    color: azure;
    border-color: azure;
}

.btn:hover{
    background-color: rgba(200, 200, 200, 0.507);
    border-color: aliceblue;
}

#Logo{
    width: 100px;
}

.wrapper {
    position: relative;
    display: flex;
    width: 300px;
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 38px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

.search-icon {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 15px;
}

.clear-icon {
    position: absolute;
    top: 14px;
    right: 10px;
    width: 12px;
    cursor: pointer;
    visibility: hidden;
}

.search:hover, .search:focus {
    border: 1.5px solid #c4d6d4;
    background-color: white;
}




